
.UserOutput {
    background-color: aquamarine;
    width: 60%;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid gray;
    box-shadow: 0 2px 5px #ccc;
    text-align: center;
}

.copy-right {
    text-align: center;
    color: green;
    font-size: 15px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.copy-right a {
    color: green;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}

.copy-right a:hover {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid green;
}